################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DementiaHelper/.vs/config/applicationhost.config
